@import 'scss/bootstrap/bootstrap';
@import 'scss/bootstrap/bootstrap-reboot';
@import 'scss/bootstrap/bootstrap-grid';
// @import 'scss/material-themes/custom-theme';

@import './scss/material/core/theming/all-theme';

@import './app/component-theme';

@include mat-core();

$app-primary: mat-palette($mat-deep-purple, A200);
$app-accent:  mat-palette($mat-cyan, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);


@include angular-material-theme($app-theme);
@include component-theme($app-theme);

h1 {
    background-color: $blue;
}
